<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <title>2.5用Post方法实现django表单(添加评论)</title>
        <link rel="stylesheet" href="{% static 'css/semantic.css' %}"  media="screen" title="no title" charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway" rel="stylesheet">


        <style type="text/css">
            .ui.segment.container {
                width: 700px;
            }

            h1 {
                font-family:'Oswald', sans-serif; font-size:40px!important;
            }

            p {
                font-family: 'Raleway', sans-serif;
                font-size:18px;
            }

            body {
                background: url({% static 'images/star_banner.jpg' %});
                background-size: cover;
                background-repeat: no-repeat;
                /*background-attachment 属性设置背景图像是否固定或者随着页面的其余部分滚动。
                scroll：默认值,滚动。fixed：当页面的其余部分滚动时，背景图像不会移动。*/
                background-attachment: fixed;
            }

        </style>
    </head>
    <body>
        <div class="ui image">
            <img src="" alt="" />
        </div>
        <div class="ui segment padded container">
            <h1>
                <!-- 根据模板变量，自动获取文章标题 -->
                <!-- Indonesia pointed at Christmas -->
                {{ article.headline }}
            </h1>
            <p>
                <!-- 根据模板变量，自动获取文章内容 -->
                <!-- his is how happens:
                The most sensible to haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha haha. -->
                {{ article.content }}
            </p>
        </div>

        <!-- Comments&Form's here -->
        <div class="ui segment container" style="width: 700px;">
            <h3 class="ui header" style="font-family: 'Oswald', sans-serif;">Comments</h3>
            <div class="ui comments">
                
                <!-- 添加最优评论 -->
                {% if best_comment %}
                    <!-- 最优评论图标 -->
                    <div class="ui red left ribbon label">
                        <i class="icon fire"></i>
                        BEST
                    </div>

                    <div class="best comment">
                        <div class="avater">
                            <!-- 评论人头像 -->
                            <img src="http://semantic-ui.com/images/avatar/small/matt.jpg" alt="" />
                        </div>
                        <div class="content">

                            <a href="#" class="author">{{ best_comment.name }}</a>
                            <div class="metadata">
                                <div class="data">2 days ago</div>
                            </div>

                            <p class="text" style="font-family: 'Raleway', sans-serif;">
                                {{ best_comment.comment }}
                            </p>

                        </div>
                    </div>
                    <!-- 分割线 -->
                    <div class="ui divider"></div>
                {% endif %}

                <!-- for comment in comment_list -->
                {% for comment in article.under_comments.all %}
                    <div class="comment">
                        <div class="avater">
                            <!-- 评论人头像 -->
                            <img src="http://semantic-ui.com/images/avatar/small/matt.jpg" alt="" />
                        </div>
                        <div class="content">
                            <a href="#" class="author">{{ comment.name }}</a>
                            <div class="metadata">
                                <div class="data">2 days ago</div>
                            </div>
                            <p class="text" style="font-family: 'Raleway', sans-serif;">
                                {{ comment.comment }}
                            </p>
                        </div>
                    </div>
                {% endfor %}

                

            </div>
            <!-- 分割线 -->
            <div class="ui divider"></div>

            <!-- <form class="ui tiny form" action="" method="post"> -->
            <!-- 一图多表解决方法：文章视图和评论表单视图分离。把评论表视图action到name='comment'的url -->
            <form class="ui tiny form" action="{% url 'comment' article.id %}" method="post">
                <!-- <div class="field">
                    <label>name</label>
                    <input type="text" name="name" value="">
                </div>
                <div class="field">
                    <label>comment</label>
                    <textarea name="comment" rows="8" cols="40"></textarea>
                </div> -->

                <!-- {{form}}即可渲染成表单样式，不用像上面注释了的代码那样写；as_p：将lable、input包含在p标签中 -->
                {{ form.as_p }} 
                <!-- 添加防跨站攻击令牌。CSRF：跨站请求伪造（英语：Cross-site request forgery），也被称为 one-click attack。 -->
                {% csrf_token %}

                <button type="submit" class="ui blue button">Click</button>
            </form>

        </div>

    </body>
</html>